@charset "utf-8";

body
{
	background-color: #262526;
	margin:0;
	padding:0;
}

#main 
{	width:100%;
	height:720px;
  	background-color:#FFFFFF;
	font:Georgia, "Times New Roman", Times, serif;
}
#main #mainHeader
{	font-size:18px;
	height: 70px;
	text-align:center;
	
}

#main #userActions
{	float:left;
	width:25%;
	height:470px;
	overflow:auto;	
	padding-left: 50px;
}

#main #summary_div
{	float:left;
	width:50%;
	height:450px;
	overflow:auto;
}

.module
{
	background: #eeeeee; 
	width: 90%; 
	margin: auto; 
	margin-top: 10px; 
	padding: 1px 10px 10px 10px;
}
       
.headermodule
{
	background: #eeeeee; 
	width: 90%; 
	margin: auto; 
	margin-top: 10px;
	padding: 1px 10px 10px 10px;
}

.form-row 
{ 
 	padding: 5px 0; 
 	clear: both; 
 	width: 300px; 
}
 
.form-label 
{ 
 	display: block; 
 	float: left; 
 	width: 120px; 
 	text-align: right; 
 	margin-right: 5px; 
}
 
#userActions p, #summary_div p
{
 	padding-left: 5px;
}
 
table
{
	border:1px solid black;
	border-collapse:collapse;
}

th,td
{
	padding:5px;
}

th, td
{
	text-align:center;
}